
body
{
    background: #415AA6;
    margin: 0 auto;
    text-align: center;
}
h1,h2 {
    font-family: poppins, sans-serif;
    color: white;
}
h2
{
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: top;
}
#main
{
    margin-top: 50px;
}
form {
    height: 400px;
    flex-shrink: 0;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: inherit;
    text-align: center;
    color: white;
}
#id_pedido
{
    margin-left: 25%;
}
input {
    display: block;
    width: 300px;
    padding: 20px 5px 10px 5px;
    margin: 10px 0 10px 0;
    color: white;
    font-size: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
}
#enviar {
    border: 1px solid rgba(255, 255, 255, 0.979);
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 5px;
}
#main
{
    width: 100%;
}
div {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

table
{
    color: white;
    margin: 0 auto;
}
#tcabeza
{
    background-color: black;
}
th
{
    font-family: poppins, sans-serif;
    color: white;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
td
{
    width: 10%;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: white 0.3px solid;
}