body {
    font-family: poppins, sans-serif;
    background-color: #F26398;
}

h1 {
    text-align: center;
    font-family: poppins, sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

#card {
    float: left;
    position: relative;
    margin-left: 20pt;
    margin-top: 20pt;
    width: 150pt;
    height: 170pt;
    background-color: #3F4FA5;
}

.sidebar {
    position: fixed;
    width: 0%;
    height: 100%;
    background-color: #3F4FA5;
    font-size: 1.1em;
    font-family: poppins, sans-serif;
    z-index: 1;
    top: 0%;
    left: 0%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background: rgba(242, 99, 151, 0.007);
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #3F4FA5;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #3F4FA5;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: #F26398;
}

ul {
    list-style-type: none;
    font-size: 15;
    font-weight: bold;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: skyblue;
    color: white;
}

li a:hover:not(.active) {
    background-color: lightslategrey;
    color: white;
}

footer {
    background-color: lightblue;
    column-count: 3;
}